<h3><%= @user.first_name %> <%= @user.last_name%> </h3>
<p> Description : <%= @user.desc %> </p>
<p> Email : <%= @user.email %> </p>
<p> Age : <%= @user.age %> </p>
<p> City : <%= @user.city.name %> </p>

